body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
  }
  
  .mainti{
    margin: auto;
    position: absolute;
}

.desc{
  bottom: 25%;
  padding: 4px;
  margin: auto;
  position: absolute;
  color: rgb(255, 255, 255);
  opacity: 1;
  animation-name: grain;
  animation-duration: 5s
}

@keyframes grain {
    0% { opacity: 0; }
    75% {opacity: 0;}   
    100% { opacity: 1; }
  }