body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
  }
  
  .mainti{
    margin: auto;
    position: absolute;
}

.desc{
  bottom: 25%;
  padding: 4px;
  margin: auto;
  position: absolute;
  color: rgb(255, 255, 255);
  opacity: 1;
  animation-name: grain;
  animation-duration: 5s
}

.invite {
    bottom: 15%;
    border: none;
    margin: auto;
    position: absolute;
    color: rgb(255, 255, 255);
    opacity: 1;
    animation-name: grain;
    animation-duration: 9s;
    padding: 0.1% 0.3%;
    border-radius: 12px;
    animation-name: rgb;
    animation-duration: 5s;
}


@keyframes grain {
    0% { opacity: 0; }
    75% {opacity: 0;}   
    100% { opacity: 1; }
  }

  @keyframes rgb {
    from {
      background-color: #6666ff;
    }
    10% {
      background-color: #0099ff;
    }
    50% {
      background-color: #00ff00;
    }
    75% {
        background-color: #ff3399;
    }
    100% {
        background-color: #6666ff;
    }
  }
  