body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
  }
  

  .mainti{
    padding: 4px;
    scale: 225.5%;
    margin: auto;
    position: absolute;
    color: rgb(255, 255, 255);
  }

  .yea{
    bottom: 30%;
    padding: 4px;
    scale: 157.5%;
    margin: auto;
    position: absolute;
    color: rgb(255, 255, 255);
    opacity: 1;
    animation-name: grain;
    animation-duration: 1s
  }